:root {
    --bleu-clair: #62B3E4;
    --bleu-medium: #0064A8;
    --bleu-marine: #172751;
    --blanc: #FFFFFF;    
    --font-text: 1.2em;    
    --font-sub-title: 1.5em;
    --font-title: 1.2em;
  }
  